:root {
	--eiderdown: #4A3C34;
	--goose: #EDEDE9;
	--feather: #5B4C40;
	--odoriko: #2E5460;
	--bluetrain: #113034;
}

html {
	font-family: Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 16pt;
	background-color: var(--goose);
	color: var(--eiderdown);
}
body {
	animation-duration: 6s;
	animation-name: all;
}
@keyframes all {
	from {
		color: var(--goose);
	}
	to {
		color: var(--eiderdown);
	}
}

h1 {
	color: var(--bluetrain);
}

a:hover, a:hover {
	font-style: normal;
	color: var(--feather);
}
a {
	font-style: oblique;
	color: var(--odoriko);
}

/* navigation bar */
nav ul {
	padding-left: 1em;
	font-size: 1.2em;
}
nav ul li {
	display: inline;
}
nav ul li a {
	margin-right: .9em;
}
nav ul li:last-child a {
	margin-right: 0em;
}

/* contact formatting */
address {
	color: var(--feather);
}

address a, address span {
	margin-left: .9em;
	color: var(--odoriko);
}

/* resume content formatting */
section h3 {
	margin: 0em .7em 0.4em 0em;
	display: inline;
}
section h2 {
	margin-bottom: 0.4em;
}
section ul {
	list-style: none;
	margin: 0.4em 0em 0.4em 0em;
	padding-left: 0.7em;
	text-align: justify;
}
section {
	display: block;
	margin: auto;
}
@media screen and (min-width: 720px) {
	section {
		width: 800px;
	}
}
@media print {
	section {
		width: 840px;
	}
}

/* date formatting */
section > h3 + p {
	float: right;
	margin: 0em;
}
section p span {
	padding: 0em 0em 0em 0.4em;
	color: var(--odoriko);
}

/* hide title for resume */
.title {
	display: none;
}
