:root {
	--eiderdown: #4A3C34;
	--goose: #EDEDE9;
	--feather: #5B4C40;
	--odoriko: #2E5460;
	--bluetrain: #113034;
}

html {
	font-family: Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 16pt;
	background-color: var(--goose);
	color: var(--eiderdown);
}
body {
	animation-duration: 6s;
	animation-name: all;
}
@keyframes all {
	from {
		color: var(--goose);
	}
	to {
		color: var(--eiderdown);
	}
}

/* header */
@media only screen and (hover: hover) {
	section h1 {
		margin-left: -4.3em;
		transition: margin-left 1s cubic-bezier(0.12, 0, 0.39, 0);
	}
	section h1:hover {
		margin-left: 0em;
	}
}

h1 {
	color: var(--bluetrain);
}

/* navigation bar */
nav ul {
	padding-left: 1em;
	font-size: 1.2em;
}
nav ul li {
	display: inline;
}
nav ul li a, address a {
	margin-right: .9em;
	color: var(--feather);
	font-style: oblique;
}
nav ul li:last-child a {
	margin-right: 0em;
}
nav ul li a:hover, address a:hover {
	font-style: normal;
	color: var(--odoriko);
}

/* contact formatting */
address {
	color: var(--feather);
}

/* resume content formatting */
section h3 {
	margin: 0em .7em 0.4em 0em;
	display: inline;
}
section h2 {
	margin-bottom: 0.4em;
}
section ul {
	list-style: none;
	margin: 0.4em 0em 0.4em 0em;
	padding-left: 0.7em;
	text-align: justify;
}
section {
	display: block;
	margin: auto;
}
@media screen and (min-width: 720px) {
	section {
		width: 800px;
	}
}
@media print {
	section {
		width: 840px;
	}
}

/* date formatting */
section > h3 + p {
	float: right;
	margin: 0em;
}
section p span {
	padding: 0em 0em 0em 0.4em;
	color: var(--odoriko);
}

/* hide title for resume */
.title {
	display: none;
}
